<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>972929582359-4nr077ar9fi6h0bsa1toms2rma3cnrkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972929582359-4nr077ar9fi6h0bsa1toms2rma3cnrkj</string>
	<key>API_KEY</key>
	<string>AIzaSyDAR-3BoI_SCjXg1hDnU4qhb_b3oR8TkNk</string>
	<key>GCM_SENDER_ID</key>
	<string>972929582359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mowasalat.karwa.taxiapp</string>
	<key>PROJECT_ID</key>
	<string>karwa-ios-90331</string>
	<key>STORAGE_BUCKET</key>
	<string>karwa-ios-90331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972929582359:ios:f91fb9a7ec29d3de</string>
	<key>DATABASE_URL</key>
	<string>https://karwa-ios-90331.firebaseio.com</string>
</dict>
</plist>