<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseAPIURL</key>
	<dict>
		<key>DEV</key>
		<string>http://devservices.karwasolutions.com:70/apiv2/</string>
		<key>PROD</key>
		<string>https://consumer.karwatechnologies.com/apiv2/</string>
		<key>STAGE</key>
		<string>https://stageconsumer.karwatechnologies.com/apiv2/</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Karwa Taxi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.16.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1050410517</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>134</string>
	<key>Development Environment</key>
	<string>STAGE</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>18a63cc6ce3523ea81e6bd4138a364a25790a476</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1050410517</string>
	<key>FacebookDisplayName</key>
	<string>Karwa Taxi</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>*.karwatechnologies.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>Use for finding user current location </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Karwa will use your location to determine your pickup location. This will enable drivers to reach exact pickup location in shortest possible time.</string>
	<key>NSCameraUsageDescription</key>
	<string>Karwa will use your Camera to detect QR code of your trip (from meter) for instant Card payment or attach images with your complains</string>
	<key>UIAppFonts</key>
	<array>
		<string>MuseoSans-100.otf</string>
		<string>MuseoSans-300.otf</string>
		<string>MuseoSans-500.otf</string>
		<string>MuseoSans-700.otf</string>
		<string>MuseoSans-900.otf</string>
		<string>MuseoSans-100Italic.otf</string>
		<string>MuseoSans-300Italic.otf</string>
		<string>MuseoSans-500Italic.otf</string>
		<string>MuseoSans-700Italic.otf</string>
		<string>MuseoSans-900Italic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Karwa will use your Media to attach that with your complain</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
